{% extends "base.html" %}

{% block title %}
<h1 class="masthead-heading text-uppercase mb-0">Rejestracja</h1>

    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>


{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/signup">


{% endblock %}

{% block content %}

<font size="20px">Posty użytkowników:</font>
<br><br><br>

 {% for rekord in rekordy %}
 Użytkownik <b>{{rekord["osoba"]}}</b> pisze:
 <br><br>
 <div class="box">
 <table border = 0>

 <tr>
 <td>Tytuł: </td><td>{{rekord["title"]}}</td>
 <tr><td>Treść: </td><td>{{rekord["body"]}}</td>
 <tr><td>Opublikowano: </td><td>{{rekord["pub_date"]}}</td>

 </tr>  
 </table>
 </div>


<br><br>
 {% endfor %}
 {% endblock %}
